@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #4d5b69;
  color: #4d5b69;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
}
.flex{
  display: flex;
}
.flex30{
  flex: 0 0 30%;
}
.flex40{
  flex: 0 0 40%;
}
.flex50{
  flex: 0 0 50%;
}
.flex60{
  flex: 0 0 60%;
}
.flex70{
  flex: 0 0 70%;
}
.flex1{
  flex: 1;
}
.flex-center{
  justify-content: center;
}
.pdl10{
  padding-left: 10px;
}
.pdl20{
  padding-left: 20px;
}
.pdt10{
  padding-top: .63rem;
}
.pdt20{
  padding-top: 1.13rem;
}
.mt10{
  margin-top: .63rem;
}
.mt20{
  margin-top: 1.13rem;
}
.posFull {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.posCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.textXLarge {
  font-size: 2rem;
}
.textLarge {
  font-size: 1.5rem;
}
.textMedium {
  font-size: 1.125rem;
}
.textSmall {
  font-size: 0.875rem;
}
.textXSmall {
  font-size: 0.75rem;
}
.colorTextLight{
  color: #fff;
}
.colorTextDard{
  color: rgb(67, 68, 86);
}
.colorTextDard1{
  color: rgb(128, 145, 171);
}
.formInput {
  display: block;
  width: 100%;
  flex: 1;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d3e5f7;
  background-color: #4d5b69;
  background-clip: padding-box;
  border: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formTextarea {
  width: 100%;
  flex: 1;
  height: 120px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #d3e5f7;
  background-color: #4d5b69;
  background-clip: padding-box;
  border: none;
  resize: none;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
 }
.main {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-left: 200px;
  background-color: #4d5b69;
}
.module {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
}
.module .title {
  padding: 15px 20px;
  background-color: #283847;
}
.module .content {
  padding: 20px;
  color: #a7b2ae;
  background-color: #2f4050;
}
.module .title > h3 {
  font-size: 18px;
  color: #79fded;
  margin-bottom: 0;
}
.inputWrap {
  display: flex;
  padding: 15px 0;
}
.inputWrap .label {
  width: 100px;
  line-height: 38px;
  font-size: 15px;
  font-weight: 500;
}
/* bootstrap */
.table-dark {
  color: #fff;
  background-color: #2e4050 !important;
}
.table-dark td {
  max-width: 200px;
}
.table-dark td.thumb-box {
  width: 120px;
  height: 100px;
}
.page-link {
  color: #fff;
  background-color: #394959;
  border: 1px solid #454d55;
}
.page-link:hover {
  color: #fff;
  border: 1px solid #17a2b8;
  background-color: #17a2b8;
}
.page-item.active .page-link {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn {
  border-radius: 0;
}

._2D0KT {
  display: flex;
  flex-wrap: wrap;
}

._2D0KT ._1ADNF {
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 60px;
  text-align: center;
  color: #fff;
  background-color: #6c757d;
  line-height: 30px;
  border-radius: 3px;
  font-weight: bold;
  padding: 0 10px;
  cursor: pointer;
}

._2D0KT .WQq1m:hover {
  cursor: pointer;
  /* background-color: #17a2b8; */
}

._2D0KT ._1ADNF._2YLDl {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

._2D0KT ._1ADNF.DpRMm {
  background: #007bff;
  border-color: #007bff;
}

._2D0KT ._1ADNF.tLifj {
  background-color: #28a745;
  border-color: #28a745;
}

._2D0KT ._1ADNF._2Z6Fi {
  background-color: #dc3545;
  border-color: #dc3545;
}

._2D0KT ._1ADNF input {
  display: none;
}

._2D0KT ._1ADNF .WQq1m {
  margin: 0;
}

/* radio 样式 */

._2D0KT ._2Js5z {
  background-color: #6c757d;
  line-height: 36px;
  padding-right: 12px;
}

._2D0KT ._2Js5z._2YLDl {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

._2D0KT ._2Js5z:first-child {
  border-radius: 3px 0 0 3px;
}

._2D0KT ._2Js5z:last-child {
  border-radius: 0 3px 3px 0;
}

._2D0KT ._2Js5z input[type='radio'] {
  opacity: 0;
}

._2D0KT ._2Js5z label {
  margin: 0;
  font-weight: 500;
  color: #f9f9f9;
  cursor: pointer;
}

/* 缩略图 */

._3Dh-y {
  position: relative;
  height: 200px;
}

._3Dh-y input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

._3Dh-y ._2ivEO {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

._2ZsFt {
  flex: 0 0 70%;
  box-shadow: 0 2px 12px #283847;
}

._2ZsFt .aX-b3 {
  padding-right: 100px;
}

._1bHsm {
  flex: 0 0 30%;
  padding-left: 20px;
}

._1a2jy {
  margin-bottom: 20px;
}

._1a2jy ._2ivEO img {
  width: 100%;
  max-height: 300px;
}

._14BnY {
  flex: 1;
  background-color: #4d5b69;
}

._3_iPS {
  /* flex: 1; */
  padding: 10px;
  border-bottom: 1px solid #9c9c9c;
}

._3_iPS a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  border: 1px solid transparent;
}

._3_iPS a:hover {
  border: 1px solid #bbb;
  border-radius: 4px;
}

._3_iPS i.MHNNv {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #2f4050;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

.VI0XH {
  display: flex;
}

.VI0XH ._30rI8 {
  flex: 1;
}

.VI0XH ._30rI8 ._1Od6k {
  background-color: #4d5b69 !important;
  color: #d3e5f7 !important;
  font-size: 1.2rem;
  border-radius: 0;
}

.VI0XH ._2AHTM {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
  background: #4d5b69;
  border-radius: 4px;
}

._3zMYk {
  flex: 0 0 60%;
  width: 60%;
  padding-left: 1.25rem;
  box-sizing: border-box;
}
._3NiwU {
  flex: 0 0 40%;
  width: 40%;
  box-sizing: border-box;
}
._2IsID {
  padding: 20px;
  background-color: #4d5b69;
  display: flex;
}
._2IsID ._2a-mt{
  flex: 1;
}
._2IsID ._2jsZL {
  padding: 10px;
  color: #a7b2ae;
  background-color: #2f4050;
}
._2IsID ._3C8Ng {
  margin-bottom: 20px;
}
._2IsID ._3C8Ng p {
  font-size: 14px;
  color: #f8f8ff;
  font-weight: 400;
}
._2IsID ._2KEP9 {
  padding: 15px 20px;
  background-color: #283847;
}
._2IsID ._2KEP9 > h3 {
  font-size: 18px;
  color: #79fded;
  margin-bottom: 0;
}
._2ESU1 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d3e5f7;
  background-color: #2e4050;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.lnCt7 {
  flex: 0 0 60%;
  width: 60%;
  padding-left: 1.25rem;
  box-sizing: border-box;
}
.C0VMT {
  flex: 0 0 40%;
  width: 40%;
  box-sizing: border-box;
}
._10ldF {
  padding: 20px;
  background-color: #4d5b69;
  display: flex;
}
._10ldF > .tlHtX{
  flex: 1;
}
._10ldF ._9Cu0a {
  padding: 10px;
  color: #a7b2ae;
  background-color: #2f4050;
}
._10ldF ._3fBtN {
  margin-bottom: 20px;
}
._10ldF ._3fBtN p {
  font-size: 14px;
  color: #f8f8ff;
  font-weight: 400;
}
._10ldF ._3IaJd {
  padding: 15px 20px;
  background-color: #283847;
}
._10ldF ._3IaJd > h3 {
  font-size: 18px;
  color: #79fded;
  margin-bottom: 0;
}
._2vUjW {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d3e5f7;
  background-color: #2e4050;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
._3no7i {
  background-color: #2f4050;
}

._3no7i ._2zqTY {
  min-width: 500px;
  padding: 30px 20px;
  color: #fff;
  background-color: #2e4050;
  box-shadow: 2px 2px 12px #112525;
}

._3no7i h2 {
  margin-bottom: 10px;
}

._248Yh {
  position: fixed;
  float: left;
  height: 100%;
  width: 200px;
  background-color: #283847;
  z-index: 10;
}

.dWJqm {
  padding: 20px;
  color: #fff;
  text-align: center;
  background: #273747;
  border-bottom: 1px solid #2e3f50;
}

.dWJqm ._1I0oN {
  font-size: 30px;
  color: #fcfcfc;
}

.dWJqm .J14hi {
  height: 45px;
  padding: 10px 0;
  font-size: 1.5rem;
}

.dWJqm ._2H3_B {
  font-size: .88rem;
}

._248Yh ._3YQbK {
  color: #fff;
  border-bottom: 1px solid #2e3f50;
}

._248Yh ._3YQbK ._3FMY0{
  position: relative;
  padding: 0 20px;
  line-height: 45px;
}

._248Yh ._3YQbK ._3FMY0:hover{
  background-color: #425668;
}

._248Yh ._3IBxG {
  padding: 8px 0;
  /* color: #f0f0f0; */
  color: #79fded;
  background-color: #2e4050;
}

._248Yh ._3IBxG ._3FMY0{
  padding-left: 36px;
  line-height: 35px;
}

._248Yh ._3YQbK ._1dJ0L{
  position: absolute;
  right: 10px;
}

._248Yh ._1E-Nv {
  /* color: #fff; */
  color: #79fded;
  font-size: 14px;
  font-weight: 500;
}

._3an3p {
  cursor: pointer;
}

._1KMzN {
  position: relative;
}

._1KMzN::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  box-shadow: 0 1px 2px #827d7d;
}
._1fthS {
  padding: 10px 20px;
  line-height: 40px;
  color: #f0f0f0;
  background-color: #2e4050;
}

._1fthS .xmtGx {
  float: left;
}

._1fthS ._1nncu {
  float: right;
  text-align: right;
  margin-bottom: 0;
}

._1fthS ._1nncu ._6pyYK {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}

._1fthS ._1nncu ._3AJic {
  width: 24px;
  height: 24px;
}

._1fthS ._1nncu ._6BcIm {
  padding: 0 10px;
}

._1fthS .QzAgn {
  position: relative;
  padding: 0 15px;
}

._1fthS .QzAgn .sFgvR{
  position: absolute;
  top: -10px;
  right: -5px;
}
._2o3Mh {
  display: flex;
  padding: 15px 0;
}
._2o3Mh ._1JoP5 {
  width: 100px;
  line-height: 38px;
  font-size: 15px;
  font-weight: 500;
}
._2o3Mh ._9CiCy {
  width: 120px;
  width: 120px;
}
._1To5F {
  position: relative;
  padding: 10px 0;
}
._1To5F:before, ._1To5F:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  background: #394654;
}
._2gOIy {
  padding: 20px;
  background-color: #4d5b69;
}
._2GuYM {
  color: red;
}
._3LB0T {
  color: #fff;
}
._2DU_8 {
  color: rgb(67, 68, 86);
}
._2jD_q {
  color: rgb(128, 145, 171);
}
._2VwoK{
  background: #202a3b!important;
}
.ho9ZH, .mvdOq {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}
.mvdOq {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem;
  height: calc(100%);
}
.ho9ZH {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1.5rem 1.5rem .75rem 1.5rem;
  height: calc(100%);
}

._3VxlV {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

._3H_UF {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.TuiSe {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

._2WukN {
  min-width: 10rem;
  padding: .75rem 1rem;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

._2WukN._2q6Hh {
  background-color: #ececec;
}

._2WukN._3Qsw0 {
  background-color: #33b5e5;
}

._2WukN._15jMi {
  background-color: #00c851;
}

._2WukN._1EFnm {
  background-color: #fb3;
}

._2WukN._18N6n {
  background-color: #ff3547;
}
