.formControl {
  background-color: #2e4050 !important;
  color: #d3e5f7 !important;
}
.formInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d3e5f7;
  background-color: #2e4050;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputWrap {
  display: flex;
  flex-wrap: wrap;
}

.inputWrap .labelBox  {
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 60px;
  text-align: center;
  color: #fff;
  background-color: #6c757d;
  line-height: 30px;
  border-radius: 3px;
  font-weight: bold;
  padding: 0 10px;
}


.inputWrap .labelBox.info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.inputWrap .labelBox.primary {
  background: #007bff;
  border-color: #007bff;
}

.inputWrap .labelBox.success {
  background-color: #28a745;
  border-color: #28a745;
}

.inputWrap .labelBox.danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.inputWrap .labelBox input {
  display: none;
}

.inputWrap .labelBox .labelName {
  margin: 0;
}

.module {
  padding: 20px;
  background-color: #4d5b69;
  display: flex;
}

.module .articleMain {
  flex: 0 0 70%;
  box-shadow: 0 2px 12px #283847;
}

.module .articleSide {
  flex: 0 0 30%;
  padding-left: 20px;
}

.module .content {
  padding: 10px;
  color: #a7b2ae;
  background-color: #2f4050;
}

.module .field {
  margin-bottom: 20px;
}

.module .field p {
  font-size: 14px;
  color: #f8f8ff;
  font-weight: 400;
}

.module .title {
  padding: 15px 20px;
  background-color: #283847;
}

.module .title > h3 {
  font-size: 18px;
  color: #79fded;
  margin-bottom: 0;
}

.module .sideBox {
  margin-bottom: 20px;
}

.module .sideBox .thumb img{
  width: 100%;
  max-height: 300px;
}

.markdownBar {
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 4px;
}
.markdownBar a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid transparent;
}
.markdownBar a:hover {
  border: 1px solid #bbb;
  border-radius: 4px;
}

.markdownBar i.separator {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #2f4050;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px;
}

.markdownBox {
  display: flex;
  padding-top: 10px;
}

.markdownBox .markdowInput {
  flex: 0 0 48%;
  margin-right: 20px;
}

.markdownBox .markdownPreview {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
  background: #4d5b69;
  border-radius: 4px;
}
