.module {
  padding: 20px;
  background-color: #4d5b69;
  display: flex;
}

.module .articleMain {
  flex: 0 0 70%;
  box-shadow: 0 2px 12px #283847;
}

.module .articleSide {
  flex: 0 0 30%;
  padding-left: 20px;
}

.module .content {
  padding: 10px;
  color: #a7b2ae;
  background-color: #2f4050;
}

.module .title {
  padding: 15px 20px;
  background-color: #283847;
}
.module .title > h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;
}

.module .sideBox {
  margin-bottom: 20px;
}