.categoryList {
  flex: 0 0 60%;
  width: 60%;
  padding-left: 1.25rem;
  box-sizing: border-box;
}
.categoryNew {
  flex: 0 0 40%;
  width: 40%;
  box-sizing: border-box;
}

.module {
  padding: 20px;
  background-color: #4d5b69;
  display: flex;
}
.module > .main{
  flex: 1;
}

.module .content {
  padding: 10px;
  color: #a7b2ae;
  background-color: #2f4050;
}

.module .field {
  margin-bottom: 20px;
}

.module .field p {
  font-size: 14px;
  color: #f8f8ff;
  font-weight: 400;
}

.module .title {
  padding: 15px 20px;
  background-color: #283847;
}

.module .title > h3 {
  font-size: 18px;
  color: #79fded;
  margin-bottom: 0;
}

.formInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #d3e5f7;
  background-color: #2e4050;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}