.posRight {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.posLeft {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.posCenter {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.toastBody {
  min-width: 10rem;
  padding: 0.75rem 1rem;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.toastBody.info {
  background-color: #ececec;
}
.toastBody.primary {
  background-color: #33b5e5;
}
.toastBody.success {
  background-color: #00c851;
}
.toastBody.warn {
  background-color: #fb3;
}
.toastBody.error {
  background-color: #ff3547;
}
