.siderNav {
  position: absolute;
  float: left;
  min-height: 100%;
  width: 200px;
  background-color: #283847;
  z-index: 10;
}

.profile {
  padding: 20px;
  color: #fff;
  text-align: center;
}

.profile .siteTitle {
  font-size: 30px;
  color: #fcfcfc;
}

.profile .name {
  height: 45px;
  padding: 10px 0;
  font-size: 1.5rem;
}

.profile .slogan {
  font-size: 1.2rem;
}

.siderNav .navItem {
  color: #fff;
  box-shadow: 0 1px 2px #334c59;
}

.siderNav .navItem .content{
  position: relative;
  padding: 0 20px;
  line-height: 45px;
}

.siderNav .navItem .content:hover{
  background-color: #425668;
}

.siderNav .subNav {
  padding: 8px 0;
  /* color: #f0f0f0; */
  color: #79fded;
  background-color: #2e4050;
}

.siderNav .subNav .content{
  padding-left: 36px;
  line-height: 35px;
}

.siderNav .navItem .dropIcon{
  position: absolute;
  right: 10px;
}

.siderNav .text {
  /* color: #fff; */
  color: #79fded;
  font-size: 14px;
  font-weight: 500;
}

.hand {
  cursor: pointer;
}

.line {
  position: relative;
}

.line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  box-shadow: 0 1px 2px #827d7d;
}