.inputWrap {
  display: flex;
  padding: 15px 0;
}
.inputWrap .label {
  width: 100px;
  line-height: 38px;
  font-size: 15px;
  font-weight: 500;
}
.inputWrap .avatar {
  width: 120px;
  width: 120px;
}

.line {
  position: relative;
  padding: 10px 0;
}
.line:before,
.line:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  background: #394654;
}
